h1 {
  text-align: center;
  border: 5px black solid;
}

nav {
  text-align: center;
}

div{
    border: 5px black solid;
    padding: 20px;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}

h3{
  padding-left: 175px;
 
}

img{
  padding-left: 70px;
}

h4{
  padding-left: 175px;
}
